.header-logo {
      max-width: 100px;
      height: auto;
    }

    .banner-img {
      max-height: 100vh;
      object-fit: cover;
    }

    .card-img {
      height: 150px;
      object-fit: cover;
    }

    .card {
      height: 100%;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover,
.card:active {
  transform: scale(1.05); /* Slight zoom effect on hover or tap */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Deep shadow for lift effect */
}
